<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mysurgery">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="com.mysurgery.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.mysurgery.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:name="AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".screen.activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.activities.IntroduceActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".screen.activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".screen.activities.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".custom.tabs.ATab1"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".custom.tabs.ATab2"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".custom.tabs.ATab3"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".custom.tabs.ATab4"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".screen.activities.ViewReadyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|screenLayout|uiMode">
        </activity>
        <activity
            android:name=".screen.activities.DownloaderActivity"
            android:screenOrientation="portrait">
        </activity>
        <service android:name=".service.APKEFTutoDownloaderService" />
        <receiver android:name=".receiver.APKEFTutoAlarmReceiver" />
        <provider android:name=".ZipFileContentProvider"
            android:authorities="com.mysurgery.ZipFileContentProvider"
            android:exported="false">
        </provider>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="913ff35928e2fd3a06e3784f36d6747d76797c3c"
            />
    </application>

</manifest>